*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;

}
#card{
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding:  20px ;
    text-align: center;

 }
 #card h1{
    font-size: 25px;
    margin: 10px 0;
    font-weight: 700;
 }
 #card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
 }
 #card h4{ 
    font-size: 25px;
    color:red;
    margin: 20px;
    padding-bottom: 30px;


 }
 #card button{
    size: 20%;
    font-size: medium;
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding:10px 20px ;
    border-radius:10px;
    border:none;
    margin: 5px;
    cursor: pointer;

 }
 #card #rem{
    height: 30px;
    width: 100px;
    color:black;
    background-color:grey;


 }
 #card #add{
    height: 30px;
    width: 100px;
    
    
 }

